.contacts
  .contacts__wrap
    .close-btn
    .contacts__header
      .title Отдел продаж
      .contacts__phones
        a(href="tel:+996 501 44 22 22") +996 501 44 22 22
        a(href="tel:+996 221 44 22 22") +996 221 44 22 22
    #contacts

