include ../partials/menu
include ../partials/mobile-contacts
include ../partials/form-modal
include ../partials/contacts
header.header.header--main
  .container
    .header__col-wrap
      .header__col
        .header__logo
          a(href="/")
            img(src="img/logo.svg" alt="logo") 
      .header__col
        ul.nav
          mixin nav(item, anchor, mod)
            li
              a(href="#"+anchor class=mod data-scroll)=item
          +nav('Объекты','objects')
          +nav('О нас','about')
          //- +nav('Контакты','contacts')
      .header__col
        .header__phones-trigger   
          i.icon-phone
        .header__phones.phone-list-js
          mixin phone(phone)
            a(href="tel:"+phone  class="header__phone")=phone 
          +phone('+996 501 44 22 22')
          +phone('+996 221 44 22 22')
        .hamburger
          span
    