.banner {
  margin-bottom: 120px;
  &__wrap {
    @include aistr;
  }

  &__item {
    padding: 25px 45px;
    position: relative;
    width: 50%;

    &:first-child {
      background: linear-gradient(270deg, #0075FF 0%, #00C2FF 100%);
      .banner__img{
        top: 50%;
        transform: translateY(-51.5%);
        max-width: 325px;
      }
    }

    &:last-child {
      background: linear-gradient(90deg, #FF7A00 0%, #FFC700 100%);
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &__title {
    font-size: 56px;
    line-height: 72px;
    color: $wc;
  }
}