doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="/icon/css/icon.css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css' rel='stylesheet')
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
    script(type='text/javascript').
    script(type='text/javascript').
      var map;
      DG.then(function () {
      map = DG.map('map', {
      center: [42.885833, 74.640146],
      scrollWheelZoom: false,
      zoom: 20
      });
      var myIcon = L.icon({
      iconUrl: 'img/jetigen/jetigen-marker.png',
      iconSize: [70, 70],
      });
      DG.marker([42.88575, 74.63965],{icon: myIcon}).addTo(map).bindLabel('ЖД «Жетиген» <br> Муса-Джалила 132,  пер. Буденого ', {static: true})});
                


  body
    include ./partials/header-inside-page
    
    .hero.hero--inner-page(style="background-image: url('/img/jetigen/jetigen.png');")
    
    .container
      .title-wrap
        h2.title Жилой дом «Жетиген»
        a(href="#location" data-scroll).link Показать на карте   
        a(href="/img/jetigen/1 комн. 34,03.jpg" data-fancybox="gallery").link Посмотреть планировки
        .gallery
          mixin gallery(img)
            a(href="/img/jetigen/"+img+".jpg" data-fancybox="gallery" ).gallery__item
          +gallery('1 комн. 34,35')  
          +gallery('1 комн. 37,11')  
          +gallery('1 комн. 41,85')  
          +gallery('1 комн. 42,50')  
          +gallery('1 комн. 42,82')  
          +gallery('1 комн. 43,73')  
          +gallery('1 комн. 44,37')  
          +gallery('2 комн. 62,14')  
          +gallery('2 комн. 77,78')  
          +gallery('3 комн. 87,48')  
          
        a(href="#documentation" data-scroll).link Документация  
        a(href="/img/jetigen/Планировка типового этажа ЖД «Жетиген».pdf" data-fancybox).link План типового этажа    

      .wrap
          mixin item(img,title) 
            a(href="#").col 
              .img.img--tranlste-off
                img(src="/img/jetigen/jetigen"+img+".jpg", alt="") 
              .title!=title 
          +item(1,'8 этажей')
          +item(2,'4 подъезда')
          +item(3,'77 квартир')

      include ./partials/form
 
      .documentation 
        .container
          h2.title Документация
          
          .documentation__type.documentation__type--detail
            .swiper.Swiper4
              .swiper-wrapper
                mixin documentation(name, link)
                  .swiper-slide
                    .documentation__item
                      .documentation__item-name!=name
                      a(href=link download).documentation__item-link Скачать PDF файл
                +documentation('Государственный акт ЖД «Жетиген»','/doc-jetigen/Государственный акт ЖД «Жетиген».PDF')
                +documentation('Градостроительное заключение ЖД «Жетиген»','/doc-jetigen/Градостроительное заключение ЖД «Жетиген».PDF')
                +documentation('Технический паспорт ЖД «Жетиген»','/doc-jetigen/Технический паспорт ЖД «Жетиген».PDF')
              .swiper-button-next
              .swiper-button-prev   

      .map#location
        h2.title Расположение
        #map

      include ./partials/footer


    
    script(src="https://code.jquery.com/jquery-3.6.0.js")  
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")  
    script(src="/script.js")