doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="/icon/css/icon.css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css' rel='stylesheet')
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
    script(type='text/javascript').
    script(type='text/javascript').
      var map;
      DG.then(function () {
      map = DG.map('map', {
      center: [42.846330, 74.561256],
      scrollWheelZoom: false,
      zoom: 20
      });
      var myIcon = L.icon({
      iconUrl: 'img/muras/muras-marker.png',
      iconSize: [70, 70],
      });
      DG.marker([42.8464, 74.5610],{icon: myIcon}).addTo(map).bindLabel('ЖД «Мурас» ул. Курчатова 23, <br> «Нижний Джал»', {static: true})});



  body
    include ./partials/header-inside-page
    
    .hero.hero--inner-page(style="background-image: url('/img/muras/muras.png');")
    
    .container
      .title-wrap
        h2.title Жилой дом «Мурас»
        a(href="#location" data-scroll).link Показать на карте   
        a(href="/img/muras/1 комн. 42.1.jpg" data-fancybox="gallery").link Посмотреть планировки
        .gallery
          mixin gallery(img)
            a(href="/img/muras/"+img+".jpg" data-fancybox="gallery" ).gallery__item
          +gallery('1 комн. 42.5')  
          +gallery('1 комн. 43.0')  
          +gallery('1комн. 42.4')  
          +gallery('2- комн 62.9')  
          +gallery('2 комн. 69.0')  
          +gallery('2 комн. 69.66')  
          +gallery('2 комн. 72.1')  
          +gallery('2 комн. 72')  
          +gallery('2 комн. 74.2')  
          +gallery('3 комн. 109.7')  
          +gallery('Зеркалальная 1 комн. 42.4')  
          +gallery('Зеркальная 1 комн. 42.5')  
          +gallery('Зеркальная 2 комн. 62.9')  
          +gallery('Зеркальная 2 комн. 74.2')  
        a(href="#documentation" data-scroll).link Документация  
        a(href="/img/muras/Планировка типового этажа ЖД «Мурас».pdf" data-fancybox).link План типового этажа   

      .wrap
          mixin item(img,title) 
            a(href="#").col 
              .img.img--tranlste-off
                img(src="/img/muras/muras"+img+".jpg", alt="") 
              .title!=title 
          +item(1,'10 этажей')
          +item(2,'4 подъезда')
          +item(3,'135 квартир')

      include ./partials/form
 
      .documentation#documentation
        .container
          h2.title Документация
          
          .documentation__type.documentation__type--detail
            .swiper.Swiper4
              .swiper-wrapper
                mixin documentation(name, link)
                  .swiper-slide
                    .documentation__item
                      .documentation__item-name!=name
                      a(href=link download).documentation__item-link Скачать PDF файл
                +documentation('Государственный акт ЖД «Мурас»','/doc-muras/Государственный акт ЖД «Мурас».PDF')
                +documentation('Технический паспорт ЖД «Мурас»','/doc-muras/Технический паспорт ЖД «Мурас».PDF')
              .swiper-button-next
              .swiper-button-prev   
      .map#location
        h2.title Расположение
        #map

      include ./partials/footer


    
    script(src="https://code.jquery.com/jquery-3.6.0.js")  
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")  
    script(src="/script.js")