@import '_mixins';
@import '_variables';
@include font-face("font", "../fonts/font", 400);

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font;

  &.no-scroll {
    overflow: hidden;
    padding-right: 15px;
  }
}


.container {
  max-width: 1720px;
  width: 100%;
  margin: auto;
  padding: 0 15px;

  @include lg {
    max-width: 1000px;
  }

  @include md {
    max-width: 920px;
  }

  @include sm {
    max-width: 740px;
  }

  @include xs {
    max-width: 100%;
  }
}

.col-wrap {
  @include aic-jfcsb;
}

img {
  width: 100%;
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

.btn {
  padding: 18px 28px;
  color: $wc;
  font-size: 22px;
  @include aic-jcc;
  display: inline-flex;
  background-color: $mc;
  transition: $tr;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  span {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      height: 1px;
      background-color: $wc;
      transition: $tr;
      width: 0;
    }

  }

  &:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5));
    transform: skewX(-25deg);
  }

  @keyframes shine {
    to {
      left: 125%
    }
  }

  &:hover {
    &:before {
      animation: shine .75s;
    }

    span {
      &:after {
        width: 100%;
      }
    }
  }

  &--empty {
    background-color: transparent;
    color: $mc;
    border-color: $mc;

    &:hover {
      background-color: $mc;
      color: $wc;
    }
  }
}

.title-wrap {
  @include aic;
  margin-bottom: 23px;

  @include md {
    display: block;
  }

  .title {
    margin-bottom: 0;

    @include md {
      display: block;
    }
  }
}

.title {
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  color: $bc;
  margin-bottom: 35px;
  padding-left: 15px;
  position: relative;

  @include lg {
    font-size: 50px;
  }

  @include md {
    font-size: 45px;
  }

  @include sm {
    font-size: 40px;
  }

  @include xs {
    font-size: 36px;
    line-height: 46px;
  }
}

.wrap {
  @include jfcsb;
  margin-bottom: 130px;

  @include lg {
    margin-bottom: 100px;
  }

  @include md {
    margin-bottom: 70px;
  }

  @include sm {
    margin-bottom: 50px;
    flex-direction: column;
  }

  .col {
    width: calc(33.33% - 25px);

    @include sm {
      width: 100%;
    }

    .img {
      margin-bottom: 35px;
      position: relative;
      overflow: hidden;
      @include aic;

      @include xs {
        margin-bottom: 25px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5));
        transform: skewX(-25deg);
      }

      img {
        transition: all .8s;
      }

      &:hover {
        img {
          transform: scale(1.1) rotate(3deg);
        }

        &:before {
          animation: shine .75s;
        }
      }

      &--tranlste-off {
        img {
          transition: none;
        }

        &:hover {
          img {
            transform: scale(1) rotate(0);
          }
        }
      }
    }

    .title {
      font-size: 22px;
      text-align: center;
      color: $bc;
      padding: 0;
      margin: 0;
      line-height: normal;

      @include lg {
        font-size: 22px;
      }

      @include md {
        font-size: 21px;
      }

      @include sm {
        font-size: 20px;
      }

      @include xs {
        font-size: 19px;
      }
    }
  }
}





.select {
  position: relative;
  z-index: 2;
  display: inline-block;


  .select-dropdown {
    position: absolute;
    transform: translateY(-40px);
    transition: $tr;
    background-color: $wc;
    border: 1px solid #83000B;
    min-width: 250px;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    left: 0;

    &.show {
      opacity: 1;
      transform: translateY(10px);
      pointer-events: inherit;
      left: 0;
      z-index: 1;
    }
  }

  .selected,
  .select-option {
    cursor: pointer;

  }


  .selected {
    font-size: 22px;
    color: #155dea;
    position: relative;
    padding-right: 20px;
    margin-left: 50px;

    @include md {
      margin-left: 15px;
      font-size: 18px;
    }

    @include xs {
      font-size: 20px;
    }

    &:hover {
      color: $mc;

      &:before,
      &:after {
        background-color: $mc;
      }
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 7px;
      height: 2px;
      background-color: #155dea;
    }

    &:before {
      transform: rotate(45deg);
      right: 5px;
    }

    &:after {
      transform: rotate(-45deg);
      right: 0;
    }
  }

  .selected {
    display: inline-block;

    &:before,
    &:after {
      top: 10px;
    }
  }

  .select-option {
    padding: 10px 30px;
    transition: $tr;

    &:hover {
      background-color: rgba(204, 204, 204, 0.274);
    }
  }
}

.social {
  display: flex;

  li {
    margin-right: 10px;

    a {
      font-size: 27px;
      color: $bc;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages {
  .img {
    padding-top: 30px;
    @include aic;

    &:hover {
      img {
        transform: scale(1) rotate(0) !important;
      }
    }
  }
}

.link {
  margin-left: 40px;
  white-space: nowrap;

  @include xs {
    margin-left: 20px;
  }
}

a.link {
  font-size: 22px;
  color: #155dea;
  position: relative;
  padding-right: 20px;

  @include xs {
    font-size: 18px;
  }

  &:hover {
    color: $mc;

    &:before,
    &:after {
      background-color: $mc;
    }
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 7px;
    height: 2px;
    background-color: #155dea;
  }

  &:before {
    transform: rotate(0);
    right: 5px;
    top: 6px;
  }

  &:after {
    transform: rotate(90deg);
    top: 9px;
    right: 2px;
  }
}

#map {
  width: 100%;
  min-height: 800px;
}

.close-btn {
  position: absolute;
  right: 25px;
  top: -75px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  @include aic;

  @include xs {
    right: 30px;
    top: 30px;
  }

  &:hover {

    &:before,
    &:after {
      background-color: $mc;
    }
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $wc;
    transition: $tr;

    @include xs {
      background-color: $bc;
    }
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.mobile-nav {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  @include sm {
    @include aic;
  }

  .left,
  .right {
    width: 30px;
    height: 30px;
    @include aic;
    color: rgba(21, 93, 234, 1);
    font-size: 30px;
  }

  .left {
    i {
      transform: rotate(90deg);
    }
  }

  .right {
    i {
      transform: rotate(-90deg);
    }
  }
}